In [1]:
import pandas as pd
import scipy.stats as stats

# NHL Correlation
Calculating the win/loss ratio's correlation with the population of the city it is in for the **NHL** using **2018** data.

In [2]:
def get_team(cities, df):
    splitted = df['team'].str.split()
    
    one_word = splitted.apply(lambda x: x[-1])
    df['team'][one_word.isin(cities['team'])] = one_word[one_word.isin(cities['team'])]
    
    two_words = splitted.apply(lambda x: ' '.join(x[-2:]))
    df['team'][two_words.isin(cities['team'])] = two_words[two_words.isin(cities['team'])]
    
    return df

In [3]:
def nhl_df_clean(cities):
    nhl_df = pd.read_csv("inputs/nhl.csv")
    
    nhl_df = nhl_df[nhl_df['year'] == 2018][['team','W','L']]
    nhl_df['team'] = nhl_df['team'].apply(lambda x: x.rstrip('*'))
    nhl_df = nhl_df.drop([0,9,18,26])
    
    nhl_df = get_team(cities, nhl_df)
    
    nhl_df = nhl_df.set_index('team').astype(float)
    nhl_df.loc['Rangers Islanders Devils'] = nhl_df.loc[['New York Rangers', 'New York Islanders', 'New Jersey Devils']].sum()
    nhl_df.loc['Kings Ducks'] = nhl_df.loc[['Los Angeles Kings', 'Anaheim Ducks']].sum()
    nhl_df = nhl_df.reset_index()
    
    nhl_df['W/L%'] = nhl_df[['W', 'L']].apply(lambda x: x['W'] / (x['W'] + x['L']), axis=1)
    
    return nhl_df

In [4]:
def cities_clean():
    cities = pd.read_html("inputs/wikipedia_data.html")[1]
    cities = cities.iloc[:-1,[0,3,5,6,7,8]]
    
    cities = cities.rename({'Population (2016 est.)[8]':'Population'}, axis=1)
    cities = cities.replace(['—', r'\[.*\]'], '', regex=True)
    
    return cities

In [5]:
cities = cities_clean()[['Metropolitan area','Population','NHL']]
cities = cities[cities['NHL'] != ''].rename({'NHL': 'team'}, axis=1)
cities.head()

        Metropolitan area Population                      team
0           New York City   20153634  Rangers Islanders Devils
1             Los Angeles   13310447               Kings Ducks
2  San Francisco Bay Area    6657982                    Sharks
3                 Chicago    9512999                Blackhawks
4       Dallas–Fort Worth    7233323                     Stars

In [6]:
nhl_df = nhl_df_clean(cities)
nhl_df

                        team      W      L      W/L%
0                  Lightning   54.0   23.0  0.701299
1                     Bruins   50.0   20.0  0.714286
2                Maple Leafs   49.0   26.0  0.653333
3                   Panthers   44.0   30.0  0.594595
4                  Red Wings   30.0   39.0  0.434783
5                  Canadiens   29.0   40.0  0.420290
6                   Senators   28.0   43.0  0.394366
7                     Sabres   25.0   45.0  0.357143
8                   Capitals   49.0   26.0  0.653333
9                   Penguins   47.0   29.0  0.618421
10                    Flyers   42.0   26.0  0.617647
11              Blue Jackets   45.0   30.0  0.600000
12         New Jersey Devils   44.0   29.0  0.602740
13                Hurricanes   36.0   35.0  0.507042
14        New York Islanders   35.0   37.0  0.486111
15          New York Rangers   34.0   39.0  0.465753
16                 Predators   53.0   18.0  0.746479
17                      Jets   52.0   20.0  0.722222
18                      Wild   45.0   26.0  0.633803
19                 Avalanche   43.0   30.0  0.589041
20                     Blues   44.0   32.0  0.578947
21                     Stars   42.0   32.0  0.567568
22                Blackhawks   33.0   39.0  0.458333
23            Golden Knights   51.0   24.0  0.680000
24             Anaheim Ducks   44.0   25.0  0.637681
25                    Sharks   45.0   27.0  0.625000
26         Los Angeles Kings   45.0   29.0  0.608108
27                    Flames   37.0   35.0  0.513889
28                    Oilers   36.0   40.0  0.473684
29                   Canucks   31.0   40.0  0.436620
30                   Coyotes   29.0   41.0  0.414286
31  Rangers Islanders Devils  113.0  105.0  0.518349
32               Kings Ducks   89.0   54.0  0.622378

In [7]:
teams = pd.merge(cities, nhl_df, how='left', on='team')
teams

,Metropolitan area,Population,team,W,L,W/L%
0,New York City,20153634,Rangers Islanders Devils,113.0,105.0,0.518349
1,Los Angeles,13310447,Kings Ducks,89.0,54.0,0.622378
2,San Francisco Bay Area,6657982,Sharks,45.0,27.0,0.625000
3,Chicago,9512999,Blackhawks,33.0,39.0,0.458333
4,Dallas–Fort Worth,7233323,Stars,42.0,32.0,0.567568
5,"Washington, D.C.",6131977,Capitals,49.0,26.0,0.653333
6,Philadelphia,6070500,Flyers,42.0,26.0,0.617647
7,Boston,4794447,Bruins,50.0,20.0,0.714286
8,Minneapolis–Saint Paul,3551036,Wild,45.0,26.0,0.633803
9,Denver,2853077,Avalanche,43.0,30.0,0.589041
10,Miami–Fort Lauderdale,6066387,Panthers,44.0,30.0,0.594595
11,Phoenix,4661537,Coyotes,29.0,41.0,0.414286
12,Detroit,4297617,Red Wings,30.0,39.0,0.434783
13,Toronto,5928040,Maple Leafs,49.0,26.0,0.653333
14,Tampa Bay Area,3032171,Lightning,54.0,23.0,0.701299
15,Pittsburgh,2342299,Penguins,47.0,29.0,0.618421
16,St. Louis,2807002,Blues,44.0,32.0,0.578947
17,Nashville,1865298,Predators,53.0,18.0,0.746479
18,Buffalo,1132804,Sabres,25.0,45.0,0.357143
19,Montreal,4098927,Canadiens,29.0,40.0,0.420290
20,Vancouver,2463431,Canucks,31.0,40.0,0.436620
21,Columbus,2041520,Blue Jackets,45.0,30.0,0.600000
22,Calgary,1392609,Flames,37.0,35.0,0.513889
23,Ottawa,1323783,Senators,28.0,43.0,0.394366
24,Edmonton,1321426,Oilers,36.0,40.0,0.473684
25,Winnipeg,778489,Jets,52.0,20.0,0.722222
26,Las Vegas,2155664,Golden Knights,51.0,24.0,0.680000
27,Raleigh,1302946,Hurricanes,36.0,35.0,0.507042

In [8]:
pd.DataFrame([nhl_df['team'][~nhl_df['team'].isin(cities['team'])],cities['team']]).T

                  team                      team
12   New Jersey Devils                 Red Wings
14  New York Islanders                       NaN
15    New York Rangers                       NaN
24       Anaheim Ducks                       NaN
26   Los Angeles Kings                 Predators
0                  NaN  Rangers Islanders Devils
1                  NaN               Kings Ducks
2                  NaN                    Sharks
3                  NaN                Blackhawks
4                  NaN                     Stars
5                  NaN                  Capitals
6                  NaN                    Flyers
7                  NaN                    Bruins
8                  NaN                      Wild
9                  NaN                 Avalanche
10                 NaN                  Panthers
11                 NaN                   Coyotes
13                 NaN               Maple Leafs
16                 NaN                 Lightning
17                 NaN                  Penguins
22                 NaN                     Blues
29                 NaN                    Sabres
30                 NaN                 Canadiens
31                 NaN                   Canucks
34                 NaN              Blue Jackets
35                 NaN                    Flames
36                 NaN                  Senators
37                 NaN                    Oilers
39                 NaN                      Jets
43                 NaN            Golden Knights
47                 NaN                Hurricanes

In [9]:
population_by_region = teams['Population'].astype(float)
win_loss_by_region = teams['W/L%']

stats.pearsonr(population_by_region, win_loss_by_region)[0]

np.float64(0.012308996455744282)

# NBA Correlation
Calculating the win/loss ratio's correlation with the population of the city it is in for the **NBA** using **2018** data.

In [10]:
def nba_df_clean(cities):
    nba_df = pd.read_csv("inputs/nba.csv")
    
    nba_df = nba_df[nba_df['year'] == 2018][['team','W','L']]
    nba_df['team'] = nba_df['team'].replace('\*?\s\(.*\)', '', regex=True)
    
    nba_df = get_team(cities, nba_df)
    
    nba_df = nba_df.set_index('team').astype(float)
    nba_df.loc['Knicks Nets'] = nba_df.loc[['New York Knicks', 'Brooklyn Nets']].sum()
    nba_df.loc['Lakers Clippers'] = nba_df.loc[['Los Angeles Lakers', 'Los Angeles Clippers']].sum()
    nba_df = nba_df.reset_index()
    
    nba_df['W/L%'] = nba_df[['W', 'L']].apply(lambda x: x['W'] / (x['W'] + x['L']), axis=1)
    
    return nba_df

<>:5: SyntaxWarning: invalid escape sequence '\*'
<>:5: SyntaxWarning: invalid escape sequence '\*'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6596\970372192.py:5: SyntaxWarning: invalid escape sequence '\*'
  nba_df['team'] = nba_df['team'].replace('\*?\s\(.*\)', '', regex=True)

In [11]:
cities = cities_clean()[['Metropolitan area','Population','NBA']]
cities = cities[cities['NBA'] != ''].rename({'NBA': 'team'}, axis=1)
cities

         Metropolitan area Population             team
0            New York City   20153634      Knicks Nets
1              Los Angeles   13310447  Lakers Clippers
2   San Francisco Bay Area    6657982         Warriors
3                  Chicago    9512999            Bulls
4        Dallas–Fort Worth    7233323        Mavericks
5         Washington, D.C.    6131977          Wizards
6             Philadelphia    6070500            76ers
7                   Boston    4794447          Celtics
8   Minneapolis–Saint Paul    3551036     Timberwolves
9                   Denver    2853077          Nuggets
10   Miami–Fort Lauderdale    6066387             Heat
11                 Phoenix    4661537             Suns
12                 Detroit    4297617          Pistons
13                 Toronto    5928040          Raptors
14                 Houston    6772470          Rockets
15                 Atlanta    5789700            Hawks
18               Cleveland    2055612        Cavaliers
24               Charlotte    2474314          Hornets
25            Indianapolis    2004230           Pacers
27               Milwaukee    1572482            Bucks
28             New Orleans    1268883         Pelicans
32                 Orlando    2441257            Magic
33                Portland    2424955    Trail Blazers
38          Salt Lake City    1186187             Jazz
41             San Antonio    2429609            Spurs
42              Sacramento    2296418            Kings
45           Oklahoma City    1373211          Thunder
46                 Memphis    1342842        Grizzlies

In [12]:
nba_df = nba_df_clean(cities)
nba_df

                    team     W      L      W/L%
0                Raptors  59.0   23.0  0.719512
1                Celtics  55.0   27.0  0.670732
2                  76ers  52.0   30.0  0.634146
3              Cavaliers  50.0   32.0  0.609756
4                 Pacers  48.0   34.0  0.585366
5                   Heat  44.0   38.0  0.536585
6                  Bucks  44.0   38.0  0.536585
7                Wizards  43.0   39.0  0.524390
8                Pistons  39.0   43.0  0.475610
9                Hornets  36.0   46.0  0.439024
10       New York Knicks  29.0   53.0  0.353659
11         Brooklyn Nets  28.0   54.0  0.341463
12                 Bulls  27.0   55.0  0.329268
13                 Magic  25.0   57.0  0.304878
14                 Hawks  24.0   58.0  0.292683
15               Rockets  65.0   17.0  0.792683
16              Warriors  58.0   24.0  0.707317
17         Trail Blazers  49.0   33.0  0.597561
18               Thunder  48.0   34.0  0.585366
19                  Jazz  48.0   34.0  0.585366
20              Pelicans  48.0   34.0  0.585366
21                 Spurs  47.0   35.0  0.573171
22          Timberwolves  47.0   35.0  0.573171
23               Nuggets  46.0   36.0  0.560976
24  Los Angeles Clippers  42.0   40.0  0.512195
25    Los Angeles Lakers  35.0   47.0  0.426829
26                 Kings  27.0   55.0  0.329268
27             Mavericks  24.0   58.0  0.292683
28             Grizzlies  22.0   60.0  0.268293
29                  Suns  21.0   61.0  0.256098
30           Knicks Nets  57.0  107.0  0.347561
31       Lakers Clippers  77.0   87.0  0.469512

In [13]:
teams = pd.merge(cities, nba_df, how='left', on='team')
teams

         Metropolitan area Population             team     W      L      W/L%
0            New York City   20153634      Knicks Nets  57.0  107.0  0.347561
1              Los Angeles   13310447  Lakers Clippers  77.0   87.0  0.469512
2   San Francisco Bay Area    6657982         Warriors  58.0   24.0  0.707317
3                  Chicago    9512999            Bulls  27.0   55.0  0.329268
4        Dallas–Fort Worth    7233323        Mavericks  24.0   58.0  0.292683
5         Washington, D.C.    6131977          Wizards  43.0   39.0  0.524390
6             Philadelphia    6070500            76ers  52.0   30.0  0.634146
7                   Boston    4794447          Celtics  55.0   27.0  0.670732
8   Minneapolis–Saint Paul    3551036     Timberwolves  47.0   35.0  0.573171
9                   Denver    2853077          Nuggets  46.0   36.0  0.560976
10   Miami–Fort Lauderdale    6066387             Heat  44.0   38.0  0.536585
11                 Phoenix    4661537             Suns  21.0   61.0  0.256098
12                 Detroit    4297617          Pistons  39.0   43.0  0.475610
13                 Toronto    5928040          Raptors  59.0   23.0  0.719512
14                 Houston    6772470          Rockets  65.0   17.0  0.792683
15                 Atlanta    5789700            Hawks  24.0   58.0  0.292683
16               Cleveland    2055612        Cavaliers  50.0   32.0  0.609756
17               Charlotte    2474314          Hornets  36.0   46.0  0.439024
18            Indianapolis    2004230           Pacers  48.0   34.0  0.585366
19               Milwaukee    1572482            Bucks  44.0   38.0  0.536585
20             New Orleans    1268883         Pelicans  48.0   34.0  0.585366
21                 Orlando    2441257            Magic  25.0   57.0  0.304878
22                Portland    2424955    Trail Blazers  49.0   33.0  0.597561
23          Salt Lake City    1186187             Jazz  48.0   34.0  0.585366
24             San Antonio    2429609            Spurs  47.0   35.0  0.573171
25              Sacramento    2296418            Kings  27.0   55.0  0.329268
26           Oklahoma City    1373211          Thunder  48.0   34.0  0.585366
27                 Memphis    1342842        Grizzlies  22.0   60.0  0.268293

In [14]:
pd.DataFrame([nba_df['team'][~nba_df['team'].isin(cities['team'])],cities['team']]).T

                    team             team
10       New York Knicks             Heat
11         Brooklyn Nets             Suns
24  Los Angeles Clippers          Hornets
25    Los Angeles Lakers           Pacers
0                    NaN      Knicks Nets
1                    NaN  Lakers Clippers
2                    NaN         Warriors
3                    NaN            Bulls
4                    NaN        Mavericks
5                    NaN          Wizards
6                    NaN            76ers
7                    NaN          Celtics
8                    NaN     Timberwolves
9                    NaN          Nuggets
12                   NaN          Pistons
13                   NaN          Raptors
14                   NaN          Rockets
15                   NaN            Hawks
18                   NaN        Cavaliers
27                   NaN            Bucks
28                   NaN         Pelicans
32                   NaN            Magic
33                   NaN    Trail Blazers
38                   NaN             Jazz
41                   NaN            Spurs
42                   NaN            Kings
45                   NaN          Thunder
46                   NaN        Grizzlies

In [15]:
population_by_region = teams['Population'].astype(float)
win_loss_by_region = teams['W/L%']

stats.pearsonr(population_by_region, win_loss_by_region)[0]

np.float64(-0.17657160252844611)

# MLB Correlation
Calculating the win/loss ratio's correlation with the population of the city it is in for the **MLB** using **2018** data.

In [16]:
def mlb_df_clean(cities):
    mlb_df = pd.read_csv("inputs/mlb.csv")
    
    mlb_df = mlb_df[mlb_df['year'] == 2018][['team','W','L']]
    
    mlb_df = get_team(cities, mlb_df)
    
    mlb_df = mlb_df.set_index('team').astype(float)
    mlb_df.loc['Dodgers Angels'] = mlb_df.loc[['Los Angeles Dodgers', 'Los Angeles Angels']].sum()
    mlb_df.loc['Yankees Mets'] = mlb_df.loc[['New York Yankees', 'New York Mets']].sum()
    mlb_df.loc['Giants Athletics'] = mlb_df.loc[['San Francisco Giants', 'Oakland Athletics']].sum()
    mlb_df.loc['Cubs White Sox'] = mlb_df.loc[['Chicago Cubs', 'Chicago White Sox']].sum()
    mlb_df = mlb_df.reset_index()
    
    mlb_df['W/L%'] = mlb_df[['W', 'L']].apply(lambda x: x['W'] / (x['W'] + x['L']), axis=1)
    
    return mlb_df

In [17]:
cities = cities_clean()[['Metropolitan area','Population','MLB']]
cities = cities[cities['MLB'] != ''].rename({'MLB': 'team'}, axis=1)
cities

         Metropolitan area Population              team
0            New York City   20153634      Yankees Mets
1              Los Angeles   13310447    Dodgers Angels
2   San Francisco Bay Area    6657982  Giants Athletics
3                  Chicago    9512999    Cubs White Sox
4        Dallas–Fort Worth    7233323           Rangers
5         Washington, D.C.    6131977         Nationals
6             Philadelphia    6070500          Phillies
7                   Boston    4794447           Red Sox
8   Minneapolis–Saint Paul    3551036             Twins
9                   Denver    2853077           Rockies
10   Miami–Fort Lauderdale    6066387           Marlins
11                 Phoenix    4661537      Diamondbacks
12                 Detroit    4297617            Tigers
13                 Toronto    5928040         Blue Jays
14                 Houston    6772470            Astros
15                 Atlanta    5789700            Braves
16          Tampa Bay Area    3032171              Rays
17              Pittsburgh    2342299           Pirates
18               Cleveland    2055612           Indians
19                 Seattle    3798902          Mariners
20              Cincinnati    2165139              Reds
21             Kansas City    2104509            Royals
22               St. Louis    2807002         Cardinals
23               Baltimore    2798886           Orioles
27               Milwaukee    1572482           Brewers
40               San Diego    3317749            Padres

In [18]:
mlb_df = mlb_df_clean(cities)
mlb_df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6596\2582425794.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['team'][two_words.isin(cities['team'])] = two_words[two_words.isin(cities['team'])]

                    team      W      L      W/L%
0                Red Sox  108.0   54.0  0.666667
1       New York Yankees  100.0   62.0  0.617284
2                   Rays   90.0   72.0  0.555556
3              Blue Jays   73.0   89.0  0.450617
4                Orioles   47.0  115.0  0.290123
5                Indians   91.0   71.0  0.561728
6                  Twins   78.0   84.0  0.481481
7                 Tigers   64.0   98.0  0.395062
8      Chicago White Sox   62.0  100.0  0.382716
9                 Royals   58.0  104.0  0.358025
10                Astros  103.0   59.0  0.635802
11     Oakland Athletics   97.0   65.0  0.598765
12              Mariners   89.0   73.0  0.549383
13    Los Angeles Angels   80.0   82.0  0.493827
14               Rangers   67.0   95.0  0.413580
15                Braves   90.0   72.0  0.555556
16             Nationals   82.0   80.0  0.506173
17              Phillies   80.0   82.0  0.493827
18         New York Mets   77.0   85.0  0.475309
19               Marlins   63.0   98.0  0.391304
20               Brewers   96.0   67.0  0.588957
21          Chicago Cubs   95.0   68.0  0.582822
22             Cardinals   88.0   74.0  0.543210
23               Pirates   82.0   79.0  0.509317
24                  Reds   67.0   95.0  0.413580
25   Los Angeles Dodgers   92.0   71.0  0.564417
26               Rockies   91.0   72.0  0.558282
27          Diamondbacks   82.0   80.0  0.506173
28  San Francisco Giants   73.0   89.0  0.450617
29                Padres   66.0   96.0  0.407407
30        Dodgers Angels  172.0  153.0  0.529231
31          Yankees Mets  177.0  147.0  0.546296
32      Giants Athletics  170.0  154.0  0.524691
33        Cubs White Sox  157.0  168.0  0.483077

In [19]:
teams = pd.merge(cities, mlb_df, how='left', on='team')
teams

,Metropolitan area,Population,team,W,L,W/L%
0,New York City,20153634,Yankees Mets,177.0,147.0,0.546296
1,Los Angeles,13310447,Dodgers Angels,172.0,153.0,0.529231
2,San Francisco Bay Area,6657982,Giants Athletics,170.0,154.0,0.524691
3,Chicago,9512999,Cubs White Sox,157.0,168.0,0.483077
4,Dallas–Fort Worth,7233323,Rangers,67.0,95.0,0.413580
5,"Washington, D.C.",6131977,Nationals,82.0,80.0,0.506173
6,Philadelphia,6070500,Phillies,80.0,82.0,0.493827
7,Boston,4794447,Red Sox,108.0,54.0,0.666667
8,Minneapolis–Saint Paul,3551036,Twins,78.0,84.0,0.481481
9,Denver,2853077,Rockies,91.0,72.0,0.558282
10,Miami–Fort Lauderdale,6066387,Marlins,63.0,98.0,0.391304
11,Phoenix,4661537,Diamondbacks,82.0,80.0,0.506173
12,Detroit,4297617,Tigers,64.0,98.0,0.395062
13,Toronto,5928040,Blue Jays,73.0,89.0,0.450617
14,Houston,6772470,Astros,103.0,59.0,0.635802
15,Atlanta,5789700,Braves,90.0,72.0,0.555556
16,Tampa Bay Area,3032171,Rays,90.0,72.0,0.555556
17,Pittsburgh,2342299,Pirates,82.0,79.0,0.509317
18,Cleveland,2055612,Indians,91.0,71.0,0.561728
19,Seattle,3798902,Mariners,89.0,73.0,0.549383
20,Cincinnati,2165139,Reds,67.0,95.0,0.413580
21,Kansas City,2104509,Royals,58.0,104.0,0.358025
22,St. Louis,2807002,Cardinals,88.0,74.0,0.543210
23,Baltimore,2798886,Orioles,47.0,115.0,0.290123
24,Milwaukee,1572482,Brewers,96.0,67.0,0.588957
25,San Diego,3317749,Padres,66.0,96.0,0.407407

In [20]:
pd.DataFrame([mlb_df['team'][~mlb_df['team'].isin(cities['team'])],cities['team']]).T

                    team              team
1       New York Yankees    Dodgers Angels
8      Chicago White Sox             Twins
11     Oakland Athletics      Diamondbacks
13    Los Angeles Angels         Blue Jays
18         New York Mets           Indians
21          Chicago Cubs            Royals
25   Los Angeles Dodgers               NaN
28  San Francisco Giants               NaN
0                    NaN      Yankees Mets
2                    NaN  Giants Athletics
3                    NaN    Cubs White Sox
4                    NaN           Rangers
5                    NaN         Nationals
6                    NaN          Phillies
7                    NaN           Red Sox
9                    NaN           Rockies
10                   NaN           Marlins
12                   NaN            Tigers
14                   NaN            Astros
15                   NaN            Braves
16                   NaN              Rays
17                   NaN           Pirates
19                   NaN          Mariners
20                   NaN              Reds
22                   NaN         Cardinals
23                   NaN           Orioles
27                   NaN           Brewers
40                   NaN            Padres

In [21]:
population_by_region = teams['Population'].astype(float)
win_loss_by_region = teams['W/L%']

stats.pearsonr(population_by_region, win_loss_by_region)[0]

np.float64(0.15052304487104853)

# NFL Correlation
Calculating the win/loss ratio's correlation with the population of the city it is in for the **NFL** using **2018** data.

In [22]:
def nfl_df_clean(cities):
    nfl_df = pd.read_csv("inputs/nfl.csv")
    
    nfl_df = nfl_df[nfl_df['year'] == 2018][['team','W','L']]
    nfl_df['team'] = nfl_df['team'].apply(lambda x: x.rstrip('*+'))
    nfl_df = nfl_df.drop(range(0,36,5))
    
    nfl_df = get_team(cities, nfl_df)
    
    nfl_df = nfl_df.set_index('team').astype(float)
    nfl_df.loc['Giants Jets'] = nfl_df.loc[['New York Giants', 'New York Jets']].sum()
    nfl_df.loc['Rams Chargers'] = nfl_df.loc[['Los Angeles Rams', 'Los Angeles Chargers']].sum()
    nfl_df.loc['49ers Raiders'] = nfl_df.loc[['San Francisco 49ers', 'Oakland Raiders']].sum()
    nfl_df = nfl_df.reset_index()
    
    nfl_df['W/L%'] = nfl_df[['W', 'L']].apply(lambda x: x['W'] / (x['W'] + x['L']), axis=1)
    
    return nfl_df

In [23]:
cities = cities_clean()[['Metropolitan area','Population','NFL']]
cities['NFL'] = cities['NFL'].str.strip()
cities = cities[cities['NFL'] != ''].rename({'NFL': 'team'}, axis=1)

cities

         Metropolitan area Population           team
0            New York City   20153634    Giants Jets
1              Los Angeles   13310447  Rams Chargers
2   San Francisco Bay Area    6657982  49ers Raiders
3                  Chicago    9512999          Bears
4        Dallas–Fort Worth    7233323        Cowboys
5         Washington, D.C.    6131977       Redskins
6             Philadelphia    6070500         Eagles
7                   Boston    4794447       Patriots
8   Minneapolis–Saint Paul    3551036        Vikings
9                   Denver    2853077        Broncos
10   Miami–Fort Lauderdale    6066387       Dolphins
11                 Phoenix    4661537      Cardinals
12                 Detroit    4297617          Lions
14                 Houston    6772470         Texans
15                 Atlanta    5789700        Falcons
16          Tampa Bay Area    3032171     Buccaneers
17              Pittsburgh    2342299       Steelers
18               Cleveland    2055612         Browns
19                 Seattle    3798902       Seahawks
20              Cincinnati    2165139        Bengals
21             Kansas City    2104509         Chiefs
23               Baltimore    2798886         Ravens
24               Charlotte    2474314       Panthers
25            Indianapolis    2004230          Colts
26               Nashville    1865298         Titans
28             New Orleans    1268883         Saints
29                 Buffalo    1132804          Bills
44            Jacksonville    1478212        Jaguars
48               Green Bay     318236        Packers

In [24]:
nfl_df = nfl_df_clean(cities)
nfl_df

                    team     W     L      W/L%
0               Patriots  11.0   5.0  0.687500
1               Dolphins   7.0   9.0  0.437500
2                  Bills   6.0  10.0  0.375000
3          New York Jets   4.0  12.0  0.250000
4                 Ravens  10.0   6.0  0.625000
5               Steelers   9.0   6.0  0.600000
6                 Browns   7.0   8.0  0.466667
7                Bengals   6.0  10.0  0.375000
8                 Texans  11.0   5.0  0.687500
9                  Colts  10.0   6.0  0.625000
10                Titans   9.0   7.0  0.562500
11               Jaguars   5.0  11.0  0.312500
12                Chiefs  12.0   4.0  0.750000
13  Los Angeles Chargers  12.0   4.0  0.750000
14               Broncos   6.0  10.0  0.375000
15       Oakland Raiders   4.0  12.0  0.250000
16               Cowboys  10.0   6.0  0.625000
17                Eagles   9.0   7.0  0.562500
18              Redskins   7.0   9.0  0.437500
19       New York Giants   5.0  11.0  0.312500
20                 Bears  12.0   4.0  0.750000
21               Vikings   8.0   7.0  0.533333
22               Packers   6.0   9.0  0.400000
23                 Lions   6.0  10.0  0.375000
24                Saints  13.0   3.0  0.812500
25              Panthers   7.0   9.0  0.437500
26               Falcons   7.0   9.0  0.437500
27            Buccaneers   5.0  11.0  0.312500
28      Los Angeles Rams  13.0   3.0  0.812500
29              Seahawks  10.0   6.0  0.625000
30   San Francisco 49ers   4.0  12.0  0.250000
31             Cardinals   3.0  13.0  0.187500
32           Giants Jets   9.0  23.0  0.281250
33         Rams Chargers  25.0   7.0  0.781250
34         49ers Raiders   8.0  24.0  0.250000

In [25]:
teams = pd.merge(cities, nfl_df, how='left', on='team')
teams

         Metropolitan area Population           team     W     L      W/L%
0            New York City   20153634    Giants Jets   9.0  23.0  0.281250
1              Los Angeles   13310447  Rams Chargers  25.0   7.0  0.781250
2   San Francisco Bay Area    6657982  49ers Raiders   8.0  24.0  0.250000
3                  Chicago    9512999          Bears  12.0   4.0  0.750000
4        Dallas–Fort Worth    7233323        Cowboys  10.0   6.0  0.625000
5         Washington, D.C.    6131977       Redskins   7.0   9.0  0.437500
6             Philadelphia    6070500         Eagles   9.0   7.0  0.562500
7                   Boston    4794447       Patriots  11.0   5.0  0.687500
8   Minneapolis–Saint Paul    3551036        Vikings   8.0   7.0  0.533333
9                   Denver    2853077        Broncos   6.0  10.0  0.375000
10   Miami–Fort Lauderdale    6066387       Dolphins   7.0   9.0  0.437500
11                 Phoenix    4661537      Cardinals   3.0  13.0  0.187500
12                 Detroit    4297617          Lions   6.0  10.0  0.375000
13                 Houston    6772470         Texans  11.0   5.0  0.687500
14                 Atlanta    5789700        Falcons   7.0   9.0  0.437500
15          Tampa Bay Area    3032171     Buccaneers   5.0  11.0  0.312500
16              Pittsburgh    2342299       Steelers   9.0   6.0  0.600000
17               Cleveland    2055612         Browns   7.0   8.0  0.466667
18                 Seattle    3798902       Seahawks  10.0   6.0  0.625000
19              Cincinnati    2165139        Bengals   6.0  10.0  0.375000
20             Kansas City    2104509         Chiefs  12.0   4.0  0.750000
21               Baltimore    2798886         Ravens  10.0   6.0  0.625000
22               Charlotte    2474314       Panthers   7.0   9.0  0.437500
23            Indianapolis    2004230          Colts  10.0   6.0  0.625000
24               Nashville    1865298         Titans   9.0   7.0  0.562500
25             New Orleans    1268883         Saints  13.0   3.0  0.812500
26                 Buffalo    1132804          Bills   6.0  10.0  0.375000
27            Jacksonville    1478212        Jaguars   5.0  11.0  0.312500
28               Green Bay     318236        Packers   6.0   9.0  0.400000

In [26]:
pd.DataFrame([nba_df['team'][~nba_df['team'].isin(cities['team'])],cities['team']]).T

                    team           team
0                Raptors    Giants Jets
1                Celtics  Rams Chargers
2                  76ers  49ers Raiders
3              Cavaliers          Bears
4                 Pacers        Cowboys
5                   Heat       Redskins
6                  Bucks         Eagles
7                Wizards       Patriots
8                Pistons        Vikings
9                Hornets        Broncos
10       New York Knicks       Dolphins
11         Brooklyn Nets      Cardinals
12                 Bulls          Lions
13                 Magic            NaN
14                 Hawks         Texans
15               Rockets        Falcons
16              Warriors     Buccaneers
17         Trail Blazers       Steelers
18               Thunder         Browns
19                  Jazz       Seahawks
20              Pelicans        Bengals
21                 Spurs         Chiefs
22          Timberwolves            NaN
23               Nuggets         Ravens
24  Los Angeles Clippers       Panthers
25    Los Angeles Lakers          Colts
26                 Kings         Titans
27             Mavericks            NaN
28             Grizzlies         Saints
29                  Suns          Bills
30           Knicks Nets            NaN
31       Lakers Clippers            NaN
44                   NaN        Jaguars
48                   NaN        Packers

In [27]:
population_by_region = teams['Population'].astype(float)
win_loss_by_region = teams['W/L%']

stats.pearsonr(population_by_region, win_loss_by_region)[0]

np.float64(0.004922112149349442)

# P_Values
Exploring the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports** with a series of paired t-tests between all pairs of sports.

In [28]:
cities = cities_clean()
for df in mlb_df, nhl_df, nba_df, nfl_df: df.set_index('team', inplace=True)

In [29]:
cities['NFL'] = cities['NFL'].str.strip()
cities = cities.set_index('Metropolitan area').drop('Population', axis=1)
cities = cities.where(cities != '')
cities['MLB'] = cities['MLB'].apply(lambda x: mlb_df['W/L%'][x] if type(x) == str else x)
cities['NHL'] = cities['NHL'].apply(lambda x: nhl_df['W/L%'][x] if type(x) == str else x)
cities['NBA'] = cities['NBA'].apply(lambda x: nba_df['W/L%'][x] if type(x) == str else x)
cities['NFL'] = cities['NFL'].apply(lambda x: nfl_df['W/L%'][x] if type(x) == str else x)

cities

                             NFL       MLB       NBA       NHL
Metropolitan area
New York City           0.281250  0.546296  0.347561  0.518349
Los Angeles             0.781250  0.529231  0.469512  0.622378
San Francisco Bay Area  0.250000  0.524691  0.707317  0.625000
Chicago                 0.750000  0.483077  0.329268  0.458333
Dallas–Fort Worth       0.625000  0.413580  0.292683  0.567568
Washington, D.C.        0.437500  0.506173  0.524390  0.653333
Philadelphia            0.562500  0.493827  0.634146  0.617647
Boston                  0.687500  0.666667  0.670732  0.714286
Minneapolis–Saint Paul  0.533333  0.481481  0.573171  0.633803
Denver                  0.375000  0.558282  0.560976  0.589041
Miami–Fort Lauderdale   0.437500  0.391304  0.536585  0.594595
Phoenix                 0.187500  0.506173  0.256098  0.414286
Detroit                 0.375000  0.395062  0.475610  0.434783
Toronto                      NaN  0.450617  0.719512  0.653333
Houston                 0.687500  0.635802  0.792683       NaN
Atlanta                 0.437500  0.555556  0.292683       NaN
Tampa Bay Area          0.312500  0.555556       NaN  0.701299
Pittsburgh              0.600000  0.509317       NaN  0.618421
Cleveland               0.466667  0.561728  0.609756       NaN
Seattle                 0.625000  0.549383       NaN       NaN
Cincinnati              0.375000  0.413580       NaN       NaN
Kansas City             0.750000  0.358025       NaN       NaN
St. Louis                    NaN  0.543210       NaN  0.578947
Baltimore               0.625000  0.290123       NaN       NaN
Charlotte               0.437500       NaN  0.439024       NaN
Indianapolis            0.625000       NaN  0.585366       NaN
Nashville               0.562500       NaN       NaN  0.746479
Milwaukee                    NaN  0.588957  0.536585       NaN
New Orleans             0.812500       NaN  0.585366       NaN
Buffalo                 0.375000       NaN       NaN  0.357143
Montreal                     NaN       NaN       NaN  0.420290
Vancouver                    NaN       NaN       NaN  0.436620
Orlando                      NaN       NaN  0.304878       NaN
Portland                     NaN       NaN  0.597561       NaN
Columbus                     NaN       NaN       NaN  0.600000
Calgary                      NaN       NaN       NaN  0.513889
Ottawa                       NaN       NaN       NaN  0.394366
Edmonton                     NaN       NaN       NaN  0.473684
Salt Lake City               NaN       NaN  0.585366       NaN
Winnipeg                     NaN       NaN       NaN  0.722222
San Diego                    NaN  0.407407       NaN       NaN
San Antonio                  NaN       NaN  0.573171       NaN
Sacramento                   NaN       NaN  0.329268       NaN
Las Vegas                    NaN       NaN       NaN  0.680000
Jacksonville            0.312500       NaN       NaN       NaN
Oklahoma City                NaN       NaN  0.585366       NaN
Memphis                      NaN       NaN  0.268293       NaN
Raleigh                      NaN       NaN       NaN  0.507042
Green Bay               0.400000       NaN       NaN       NaN
Hamilton                     NaN       NaN       NaN       NaN
Regina                       NaN       NaN       NaN       NaN

In [30]:
sports = ['NFL', 'NBA', 'NHL', 'MLB']
notNan = lambda k, j: ~(cities[k].isna()|cities[j].isna())
p_values = pd.DataFrame({k:{j:stats.ttest_rel(cities[k][notNan(k, j)], cities[j][notNan(k, j)]).pvalue for j in sports} for k in sports}, index=sports)

p_values

          NFL       NBA       NHL       MLB
NFL       NaN  0.941792  0.030959  0.802384
NBA  0.941792       NaN  0.022316  0.951046
NHL  0.030959  0.022316       NaN  0.000712
MLB  0.802384  0.951046  0.000712       NaN